<%- layout("layouts/boilerplate") %>

<div class="row mt-3">
    <div class="col-6 offset-3">
        <h1 class="col-6 offset-3">SignUp on Wanderlust</h1>
        <form action="/user/signup" method="post" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username :</label>
                <input type="text" name="username" class="form-control" id="username" required>
                <div class="valid-feedback">Look's Good!</div>
                <div class="invalid-feedback">Invalid Username!</div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">E-mail :</label>
                <input type="text" name="email" class="form-control" id="email" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Invalid email!</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" name="password" id="password" class="form-control" required>
                <div class="valid-feedback">Strong Password!</div>
                <div class="invalid-feedback">Too Weak!!</div>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
    </div>
</div>